$tab: 1024px;
$tab2: 768px;
$sp: 450px;

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin tab2 {
    @media screen and (max-width: ($tab2)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}